/node_modules
/nbproject
/platforms/android/
/platforms/browser/
/plugins/cordova-plugin-browsersync/
/plugins/cordova-plugin-whitelist/
/plugins/cordova-plugin-compat/
/plugins/cordova-plugin-multidex/
/plugins/phonegap-plugin-barcodescanner/
/bower_components